#app {
    min-height: 100%;
    display: flex;
}

html,
body {
    min-height: 100%;
    background-color: #eee;
    color: $black;
}

* {
    box-sizing: border-box;

    // Disable text selection
    // -webkit-user-select: none; /* Safari */        
    // -moz-user-select: none; /* Firefox */
    // -ms-user-select: none; /* IE10+/Edge */
    // user-select: none; /* Standard */
}

.container {
    padding: 20px;
    width: 100%;
    max-width: 1280px;
    margin:auto; 
}

.svg-icon {
    display: block;
    fill: currentColor;
}

