$yellow: #faec16;
$green: #4dbb86;
$pink: #f6b0c1;
$red: #ef5327;
$blue: #2278EB;
$white: #fff;
$black: #1c1c1e;
$light-grey: #e4e5ea;
$light-grey2: #ced1db;
$grey: #404144;
$dark-grey: #2d2e33;
$dark-grey2: #545760;

$textColor: $black;
$accentColor: #EA6E8C;
$primaryColor: $blue;
$failureColor: $red;
$successColor: #5bff6f;

$defaultFont: Fixedsys, monospace;
$accentFont: "SpaceXNoid";

$transitionDefault: .64s ease all;
$transitionFast: .12s all linear;